* {
  box-sizing: border-box;
}

.img1 {
  width: 600px;
  height: 400px;
}

.feature {
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.img2 {
  width: 40px;
  height: 40px;
}
